<div formGroupName="registroUsuario" class="container-sm border border-dark text-center my-5">
    <h3 class="mt-2">Registro Usuario</h3>
	<label>
		Nombre<br>
		<input type="text" formControlName="name">
	</label><br>
	<label>
		Apellido<br>
		<input type="text" formControlName="lastName">
    </label><br>
    <label>
		Documento<br>
		<input type="text" formControlName="id">
	</label><br>
    <label>
		Teléfono<br>
		<input type="text" formControlName="numberPhone">
    </label><br>
    <button class="btn btn-success border border-dark mb-2" routerLink="/line">Registrar Usuario</button>
</div>
