<div class="container-sm border border-dark text-center my-5"> 
	<h3 class="my-3 text-muted">Matrix Line</h3>
	<hr>
	<div class="mt-2">
		<label for="documento">Documento</label>
	</div>
	<div class="mb-2">
		<input type="text" id="documento">
    </div>
	<button class="btn btn-success border border-dark mb-2">Search</button>
    <p>¿No esta registrado? <a class="link" routerLink="/line">Registrar usuario</a></p>
</div>
<div class="container-sm border border-dark text-center mt-2 mb-5"> 
	<h3 class="my-3">Que Desea Realizar</h3>
    <button type="button" class="btn btn-outline-success" routerLink="/register">Registrar Linea Telefonica Postpago</button>
	<br>
    <button type="button" class="btn btn-outline-success my-2" routerLink="/facturacion">Consultar Facturas Posteriores</button>
	<br>
    <button type="button" class="btn btn-outline-success mb-4" routerLink="/change-state">Actualizar Estado De La Linea Telefonica</button>
</div>
