<form [formGroup]="lineOptions" (ngSubmit)="onSubmit()" class="container-sm border border-dark text-center my-5">
	<h3 class="my-3">Matrix Line</h3>
	<hr>
	<div class="mt-2">
		<label for="documento">Documento</label>
	</div>
	<div class="mb-2">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
			<path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
			<circle cx="3.5" cy="5.5" r=".5"/>
			<circle cx="3.5" cy="8" r=".5"/>
			<circle cx="3.5" cy="10.5" r=".5"/>
		  </svg>
		<input type="text" formControlName="document">
	</div>
	<button class="btn btn-success border border-dark mb-2">Search</button>
	<p>¿No está registrado? <a class="link" routerLink="/registroUsuario">Registrar usuario</a></p>
</form>
<div class="container-sm border border-dark text-center mt-2 mb-5">
	<h3 class="my-3">¿Qué Desea Realizar?</h3>
	<button type="button" class="btn btn-outline-success" routerLink="/line">Registrar Linea Telefonica
		Postpago</button>
	<br>
	<button type="button" class="btn btn-outline-success my-2" routerLink="/facturacion">Consultar Facturas
		Posteriores</button>
	<br>
	<button type="button" class="btn btn-outline-success mb-4" routerLink="/change-state">Actualizar Estado De La
		Linea
		Telefonica</button>
</div>
