<div formGroupName="login" class="container-sm border border-dark text-center my-5"> 
    <h3 class="mt-2">Registrar linea Postpago</h3>
    <label>
		Nombre<br>
		<input type="text" formControlName="user">
    </label><br>
	<label>
		Documento<br>
		<input type="text" formControlName="documento">
    </label><br>
    <label>
		N. Linea Telefonica<br>
		<input type="text" formControlName="numberLine">
    </label><br>
    <label>
		Nombre Del Telefono Movil<br>
		<input type="text" formControlName="numberLine">
    </label><br>
    <button class="btn btn-success border border-dark mb-2" routerLink="/registerClient">Registrar linea Postpago</button>
</div>

