<div formGroupName="signin" class="container-sm border border-dark text-center my-5"> 
	<h3 class="mt-2">Sign in</h3>
	<label>
		Nombre<br>
		<input type="text" formControlName="nome">
	</label><br>
	<label>
		Apellido<br>
		<input type="text" formControlName="lastName">
    </label><br>
    <label>
		Documento<br>
		<input type="text" formControlName="id">
	</label><br>
    <label>
		Teléfono<br>
		<input type="text" formControlName="numberPhone">
    </label><br>
	<button class="btn btn-success border border-dark mb-2" routerLink="/">Sign in</button>
</div>

