<div class="container-sm control mt-3">
	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="../../../assets/x.jpg" alt="Xiaomi" class="rounded">
			</div>
			<div class="carousel-caption">
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="../../../assets/n.jpg" alt="Nokia">
			</div>
			<div class="carousel-caption">
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="../../../assets/d.jpg" alt="Celular de juguete">
			</div>
			<div class="carousel-caption">
			</div>
		</ng-template>
	</ngb-carousel>
</div>
